.homepage, .github-list, .github-page{
    background-color: #2C4546;
    width: 95%;
    margin:5vh auto 0 auto;
    min-height: 95vh;
    padding-top: 2rem;
}

.homepage .homepage-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    height: 100%;
    /* border: 1px solid white; */
}

.homepage .homepage-content{
    height: 28rem;
    /* border: 1px solid white; */
    width: 20rem;
    border-radius: 20rem;
    margin-top: 8rem;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage .left{
    background-color: rgb(21, 27, 26);
    z-index: 5;
    color: white;
    flex-direction: column;
    margin-right: -3rem;
    /* justify-content: space-around; */
}

.homepage .middle{
    background: url('../assets/images/cyan-abstract.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fill;
    z-index: 3;
    margin-right: -3rem;
}

.homepage .middle p{
    background-color: rgb(21, 27, 26);
    font-size: 32px;
    font-weight: 700;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}


.homepage .right img{
    object-fit: fill;
    width: 25rem;
    height: 25rem;
    margin-top: 3rem;
    /* z-index: 10; */
}

.homepage .left button{
    background-color: rgb(250, 184, 60);
    border: none;
    width: 7rem;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

.homepage .left .btn{
    color: black;
    text-decoration: none;
}

.homepage .left button:hover{
    font-weight: bold;
    cursor: pointer;
}

.homepage .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    color: rgb(228, 225, 225);
}

.github-list .repos{
    color: rgb(228, 225, 225);
    margin: 8% auto auto 15%;
    line-height: 26px;
    font-size: 1rem;
    width: 70%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.github-list .repos hr{
    margin-bottom: 1.5rem;
    border: 1px solid white;
}

.github-list .paginate{
    position: absolute;
    left: 20%;
    bottom: 5%;
    display: flex;
    justify-content: space-around;
}

.github-list .paginate button{
    padding: 0.2rem;
    margin: 0 .2rem;
}

.github-list .paginate button:hover{
    cursor: pointer;
    border: 2px solid white;
    border-radius: .5rem;
}

.github-list .paginate button:disabled{
    background-color: #2C4546;
    cursor: not-allowed;
}

.github-list .repos button{
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}


.github-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
    font-weight: bold;
    color: white;
    padding: 0 5rem;
    text-align: center;
}

.github-page .link{
    color: white;
}

.github-page .link:hover{
    color: rgb(93, 93, 255);
}

.github-page i:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(93, 93, 255);
}